<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" type="text/css" href="/public/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Trocchi&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg  fixed-top" style="background-color: #588157; color: antiquewhite;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/logo.png" alt="Logo" width="30" height="24"
                class="d-inline-block align-text-top">
            Hotel Danarama</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/" style="color: #fffdd0;">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/registrado" style="color: #fffdd0;">Clientes</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
  <div class="container-final">
    <div class="table table-responsive table-bordered">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Tipo documento</th>
                <th scope="col">Número de documento</th>
                <th scope="col">Ciudad de expedicion</th>
                <th scope="col">Celular</th>
                <th scope="col">Correo</th>
                <th scope="col">Ciudad de residencia</th>
                <th scope="col">Ciudad de procedencia</th>
                <th scope="col">Ocupación</th>
                <th scope="col"># acompañantes</th>
                <th scope="col">Habitación</th>
                <th scope="col">Tarifa</th>
                <th scope="col">Fecha de llegada</th>
                <th scope="col">Fecha de salida</th>
              </tr>
            </thead>
            <tbody>
                <% datosClientes.forEach(dato => {%>
                    <tr>
                      <th><%=dato.id %></th>
                      <td><%=dato.nombres %></td>
                      <td><%=dato.apellidos %></td>
                      <td><%=dato.tipo %></td>
                      <td><%=dato.numero %></td>
                      <td><%=dato.expedicion %></td>
                      <td><%=dato.celular %></td>
                      <td><%=dato.correo %></td>
                      <td><%=dato.residencia %></td>
                      <td><%=dato.procedencia %></td>
                      <td><%=dato.ocupacion %></td>
                      <td style="text-align: center;"><%=dato.acompanantes %></td>
                      <td style="text-align: center;"><%=dato.habitacion %></td>
                      <td style="text-align: center;"><%=dato.tarifa %></td>
                      <td><%=dato.llegada %></td>
                      <td><%=dato.salida %></td>
                    </tr>
                  <%})%>
            </tbody>
          </table>
    </div>
    
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="../script.js"></script>
    <script src="../app.js"></script>
</body>
